/* Stylesheet for the Odin Landing Page Project */

footer {
    background: #1f2937;
}

footer p {
    color: #f9faf8;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: roboto, sans-serif;
    font-weight: 200;
    line-height: 26px;
}

#above-the-fold {
    background: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 25px;
    overflow: hidden;
    display: flexbox;
}

#hero-content {
    display: flex;
    flex: 1 1 0;
    padding: 50px 0;
}

#hero-media {
    align-items: flex-start;
    float: right;
}

#above-the-fold h1 {
    font-family: roboto, sans-serif;
    color: #f9fAf8;
    font-size: 48px;
    font-weight: extra-bold;
}

#above-the-fold p, #above-the-fold nav li {
    font-family:roboto, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

#call-to-action {
    background: #3882f6;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 100px;
    margin-right: 100px;
}

button {
    background:#3882f6;
    color: #F9FAF8;
    padding: 10px 35px;
    font-family: roboto, sans-serif;
    font-weight: 200;
    font-size: 18px;
}

blockquote p {
    font-size: 38px;
    font-style: light italic;
    color: #1f2937;
}

#quote {
    background: #e5e7eb;
}

/* main navigation styling*/

body {
    padding: 0;
}

#hero-body {
    padding-right: 15px;
    flex: 1;
}

nav {
    padding: 16px 0 16px 0;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style-type: none;
    align-items: baseline;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav li.site-logo {
    margin-right: auto;
}

.site-logo a {
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}

/* main navigation styling (ends)*/


/* all links styling*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
    color: #e5e7eb;
}

a:active {
    text-decoration: none;
    color: #e5e7eb;
}

/*all links styling (ends)*/


/*styling the information section - text cards*/

.card_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: unset;
    align-items: baseline;
}

p {
    font-family: roboto, sans-serif;
}

h2, h3 {
    font-family: roboto, sans-serif;
}

#information {
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 150px;
    align-items: center;
}

#information h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 75px;
}

.card_image {
    width: 250px;
    border-radius: 5%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.card_details p {
    font-size: 18px;
    text-align: center;
    line-height: 150%;
}

.card_details {
    display: block;
}

/*styling the information section - text cards*/